Repository 42-pong/42-pong, pull requests merged in 2024-12, with the labels that each got.

#87 From gitlab
  .env.example
  .github/workflows/backend_code_check.yml
  .github/workflows/backend_unit_test.yml
  Makefile
  backend/.gitignore
  backend/Dockerfile
  backend/Makefile
  backend/pong/jwt_token/__init__.py
  backend/pong/jwt_token/urls.py
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
  backend/pong/utils/__init__.py
  backend/pong/utils/result.py
  backend/pong/utils/test_result.py
  backend/tools/entrypoint.sh
  backend/tools/requirements.in
  backend/tools/requirements.txt
  compose.yaml
  frontend/pong/js/sum.js
  frontend/pong/package-lock.json
  frontend/pong/package.json
  frontend/pong/tests/sum.test.js
  frontend/pong/vitest.config.js
Labels: global

#94 🌱 backend_unit_test.yml 追加。BE unit-test が actions で走るように DB コンテナの設定を追加したものにする
  .github/workflows/backend_unit_test.yml
  backend/tools/entrypoint.sh
Labels: workflow, backend

#89 :seedling: (workflow) FE ユニットテストの追加
  .github/workflows/frontend_unit_test.yml
Labels: workflow, frontend

#99 ⚡ Djagno の version を上げて問題ないか確認してから上げる (Dependabot alerts)
  backend/tools/requirements.in
  backend/tools/requirements.txt
Labels: backend

#97 ⚡ django-stubs を mypy に認識させる設定追加
  backend/pong/pyproject.toml
Labels: backend

#109 ♻️ jwtとswagger-uiのurlsをimportなしのincludeで統一する
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
  backend/pong/swagger_ui/__init__.py
  backend/pong/swagger_ui/urls.py
Labels: backend

#106 ⚡ 認証なしでアカウント作成できるようにする (api/accounts/, POST)
  backend/pong/Makefile
  backend/pong/accounts/__init__.py
  backend/pong/accounts/admin.py
  backend/pong/accounts/apps.py
  backend/pong/accounts/constants.py
  backend/pong/accounts/migrations/0001_initial.py
  backend/pong/accounts/migrations/__init__.py
  backend/pong/accounts/models.py
  backend/pong/accounts/serializers.py
  backend/pong/accounts/tests.py
  backend/pong/accounts/urls.py
  backend/pong/accounts/views.py
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
Labels: backend

#101 🌱 SPA の基盤クラスを追加
  frontend/pong/biome.json
  frontend/pong/index.html
  frontend/pong/js/components/index.js
  frontend/pong/js/components/views/HomeView.js
  frontend/pong/js/core/Component.js
  frontend/pong/js/core/Route.js
  frontend/pong/js/core/Router.js
  frontend/pong/js/core/View.js
  frontend/pong/js/main.js
  frontend/pong/js/routers/homeRouter.js
Labels: frontend

#119 :bug: (workflow) discord 通知の改善
  .github/workflows/discord_PR_review.yml
  .github/workflows/discord_discussion.yml
Labels: workflow, global

#125 🐛 ♻️ [workflow] BE コンテナの workflow のミス修正・log 出力追加・リファクタリング
  .github/workflows/backend_unit_test.yml
  compose.yaml
Labels: workflow, backend

#129 ⚡ [workflow] job の timeout 設定追加, Makefile 微修正
  .github/workflows/backend_code_check.yml
  .github/workflows/backend_unit_test.yml
  .github/workflows/discord_PR_review.yml
  .github/workflows/discord_discussion.yml
  .github/workflows/frontend_code_check.yml
  .github/workflows/frontend_unit_test.yml
  Makefile
Labels: workflow, global

#123 🌱 [accounts] PlayerSerializer, UesrSerializer の unit test 作成
  backend/pong/accounts/tests.py
  backend/pong/accounts/tests/__init__.py
  backend/pong/accounts/tests/serializers/__init__.py
  backend/pong/accounts/tests/serializers/test_player_serializer.py
  backend/pong/accounts/tests/serializers/test_user_serializer.py
Labels: backend

#107 ⚡ 42APIの認可サーバーからトークン情報をを取得する
  .env.example
  backend/pong/oauth2/__init__.py
  backend/pong/oauth2/urls.py
  backend/pong/oauth2/views.py
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
Labels: backend

#122 ♻️ Django / app に名前空間を付与
  backend/pong/accounts/urls.py
  backend/pong/jwt_token/urls.py
  backend/pong/oauth2/urls.py
  backend/pong/oauth2/views.py
  backend/pong/pong/health_check/tests.py
  backend/pong/pong/urls.py
Labels: backend

#140 🌱 (FE) mock service worker の導入
  frontend/pong/biome.json
  frontend/pong/js/components/views/HomeView.js
  frontend/pong/js/endpoints.js
  frontend/pong/js/main.js
  frontend/pong/js/mocks/browser.js
  frontend/pong/js/mocks/handlers.js
  frontend/pong/package-lock.json
  frontend/pong/package.json
  frontend/pong/public/mockServiceWorker.js
Labels: frontend

#131 🌱 websocket/ match handlerを実装
  backend/pong/match/__init__.py
  backend/pong/match/admin.py
  backend/pong/match/apps.py
  backend/pong/match/consumers.py
  backend/pong/match/match_handler.py
  backend/pong/match/migrations/__init__.py
  backend/pong/match/models.py
  backend/pong/match/routing.py
  backend/pong/match/tests.py
  backend/pong/match/views.py
  backend/pong/pong/asgi.py
  backend/pong/pong/settings.py
  backend/tools/requirements.in
  backend/tools/requirements.txt
Labels: backend

#145 ⚡♻️ [accounts] ユーザーを一意に識別する際に使う ID を、player_id ではなく user_id で統一する
  backend/pong/accounts/admin.py
  backend/pong/accounts/constants.py
  backend/pong/accounts/serializers.py
  backend/pong/accounts/views.py
Labels: backend

#133 ♻️ : OAuth2.0のエンドポイントをリファクタリング
  backend/pong/oauth2/urls.py
  backend/pong/oauth2/views.py
Labels: backend

#143 ⚡ [accounts] api/accounts/, POST の integration test 作成
  backend/pong/accounts/admin.py
  backend/pong/accounts/models.py
  backend/pong/accounts/serializers.py
  backend/pong/accounts/tests/integration/__init__.py
  backend/pong/accounts/tests/integration/test_accounts.py
  backend/pong/accounts/tests/serializers/test_player_serializer.py
  backend/pong/accounts/tests/serializers/test_user_serializer.py
  backend/pong/accounts/urls.py
  backend/pong/accounts/views.py
Labels: backend

#149 🌱 (FE) サーバーの設定ファイル追加
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/pong/package.json
Labels: frontend
