Repository 42-pong/42-pong, pull requests merged in 2024-11, with the labels that each got.

#9 :zap: discord 通知: PR レビュー依頼のメッセージ
  .github/workflows/discord_PR_review.yml
Labels: workflow

#19 ⚡ 共通の compose.yaml, Makefile 追加
  .env.example
  .gitignore
  Makefile
  backend/.gitignore
  compose.yaml
  frontend/.gitignore
Labels: global

#21 ⚡ backend 用 Dockerfile 追加・コンテナ内で Django の server 起動
  Makefile
  backend/.gitignore
  backend/Dockerfile
  backend/pong/manage.py
  backend/pong/pong/__init__.py
  backend/pong/pong/asgi.py
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
  backend/pong/pong/wsgi.py
  backend/requirements.txt
  backend/tools/entrypoint.sh
  compose.yaml
Labels: backend

#28 ⚡ discord 通知: Discussion 作成時
  .github/workflows/discord_discussion.yml
Labels: workflow

#37 🌱 discord 通知用の workflow 作成
  .github/workflows/discord_PR_review.yml
  .github/workflows/discord_discussion.yml
Labels: workflow

#27 ⚡ API openapi.yaml /health の部分を書く
  openapi.yml
Labels: backend

#31 ⚡ Backendのコードチェックのworkflowを追加
  .github/workflows/backend_code_check.yml
  backend/pong/Makefile
  backend/pong/manage.py
  backend/pong/pong/settings.py
  backend/pong/pyproject.toml
  backend/requirements.txt
Labels: backend

#39 ⚡ PR用のテンプレートを追加
  .coderabbit.yaml
  .github/pull_request_template.md
Labels: global

#49 🐛 ブランチ命名規則の変更に合わせてworkflowを修正
  .github/workflows/backend_code_check.yml
Labels: backend

#41 ⚡ swagger-ui がURLから表示できるようにする
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
  backend/requirements.txt
Labels: backend

#45 ⚡ compose.yaml と backend/Dockerfile で WORKDIR を同期する, 実行 USER 指定
  backend/Dockerfile
Labels: global, backend

#53 ♻️ BE Makefile に all を追加
  backend/pong/Makefile
Labels: backend

#51 🐛 code-rabbitがサマリーを出すように修正
  .coderabbit.yaml
Labels: global

#63 🐛 formatterのworkflowがエラーを出すよう修正
  .github/workflows/backend_code_check.yml
  backend/pong/Makefile
Labels: workflow, backend

#76 🌱 (FE) first index.html
  frontend/LICENSE
  frontend/pong/.gitignore
  frontend/pong/index.html
  frontend/pong/package-lock.json
  frontend/pong/package.json
Labels: frontend

#79 🌱 (FE, workflow) リンターとフォーマッターとして biome の導入
  .github/workflows/frontend_code_check.yml
  frontend/pong/biome.json
  frontend/pong/package-lock.json
  frontend/pong/package.json
Labels: workflow, frontend

#78 🌱 (FE) Dockerfile, compose.yaml
  .env.example
  compose.yaml
  frontend/Dockerfile
  frontend/pong/.dockerignore
Labels: global, frontend
