Repository 42-pong/42-pong, pull requests merged in 2025-02, with the labels that each got.

#243 ⚡ ホームビューを簡単な形で構成
  frontend/pong/js/bootstrap/components/buttonGroup.js
  frontend/pong/js/bootstrap/components/buttons.js
  frontend/pong/js/bootstrap/utilities/display.js
  frontend/pong/js/bootstrap/utilities/flex.js
  frontend/pong/js/bootstrap/utilities/sizing.js
  frontend/pong/js/bootstrap/utilities/spacing.js
  frontend/pong/js/components/game/GameStartPanel.js
  frontend/pong/js/components/index.js
  frontend/pong/js/components/navigation/MainNavbar.js
  frontend/pong/js/components/views/HomeView.js
  frontend/pong/js/components/views/MainView.js
  frontend/pong/js/constants/PongEvents.js
  frontend/pong/js/utils/elements/button/createPrimaryButton.js
Labels: frontend

#217 :zap: トーナメント参加モデル、エンドポイントの設計
  backend/pong/tournaments/admin.py
  backend/pong/tournaments/constants.py
  backend/pong/tournaments/migrations/0001_initial.py
  backend/pong/tournaments/participation/__init__.py
  backend/pong/tournaments/participation/models.py
  backend/pong/tournaments/participation/serializers.py
  backend/pong/tournaments/participation/views.py
  backend/pong/tournaments/tournament/views.py
  backend/pong/tournaments/urls.py
Labels: backend

#235 [users] `/api/users/<int:user_id>/`, `GET` 実装 (特定の user_id のユーザープロフィール取得)
  backend/pong/users/serializers.py
  backend/pong/users/tests/__init__.py
  backend/pong/users/tests/integration/__init__.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/tests/unit/__init__.py
  backend/pong/users/tests/unit/test_users_serializer.py
  backend/pong/users/urls.py
  backend/pong/users/views/__init__.py
  backend/pong/users/views/list.py
  backend/pong/users/views/retrieve.py
Labels: backend

#245 [users] /api/users/, GET の integration テスト追加
  backend/pong/users/tests/integration/test_list.py
Labels: backend

#236 :zap: (BE:oauth2) oauth2の単体テストを通せるように修正
  backend/pong/oauth2/create_oauth2_account.py
  backend/pong/oauth2/providers/forty_two_authorization.py
  backend/pong/oauth2/tests/__init__.py
  backend/pong/oauth2/tests/unit/test_create_oauth2_account.py
  backend/pong/oauth2/tests/unit/test_provider_authorization.py
  backend/pong/oauth2/views.py
Labels: bug, backend

#264 ♻️ スタイリング周りの改善
  frontend/pong/js/bootstrap/components/buttons.js
  frontend/pong/js/components/game/GameStartPanel.js
  frontend/pong/js/components/index.js
  frontend/pong/js/components/utils/LinkButton.js
  frontend/pong/js/components/views/HomeView.js
  frontend/pong/js/components/views/MainView.js
  frontend/pong/js/core/Component.js
  frontend/pong/js/core/StyledButton.js
  frontend/pong/js/utils/elements/button/createButton.js
  frontend/pong/js/utils/elements/button/createPrimaryButton.js
Labels: frontend

#246 :zap: トーナメントモデルにフィールド追加、エンドポイントの例追加
  backend/pong/tournaments/admin.py
  backend/pong/tournaments/constants.py
  backend/pong/tournaments/migrations/0001_initial.py
  backend/pong/tournaments/participation/models.py
  backend/pong/tournaments/tournament/models.py
  backend/pong/tournaments/tournament/views.py
Labels: backend

#265 🌱 トーナメントのハンドリング基盤構造
  frontend/pong/js/bootstrap/utilities/flex.js
  frontend/pong/js/bootstrap/utilities/sizing.js
  frontend/pong/js/components/index.js
  frontend/pong/js/components/tournament/TournamentContainer.js
  frontend/pong/js/components/tournament/TournamentEntrance.js
  frontend/pong/js/components/tournament/TournamentFinished.js
  frontend/pong/js/components/tournament/TournamentOngoing.js
  frontend/pong/js/components/tournament/TournamentProgress.js
  frontend/pong/js/components/tournament/TournamentProgressTransitionButton.js
  frontend/pong/js/components/tournament/TournamentStageTransitionButton.js
  frontend/pong/js/components/tournament/TournamentStageTransitionButtonWithInput.js
  frontend/pong/js/components/tournament/TournamentWaiting.js
  frontend/pong/js/components/utils/ObservableInput.js
  frontend/pong/js/components/views/TournamentsView.js
  frontend/pong/js/constants/PongEvents.js
  frontend/pong/js/enums/TournamentEnums.js
  frontend/pong/js/routers/appRouter.js
Labels: frontend

#248 🌱 [users] `/api/users/me/`, `GET` 実装 (自分のプロフィール取得)
  backend/pong/users/serializers.py
  backend/pong/users/tests/integration/test_me.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/urls.py
  backend/pong/users/views/list.py
  backend/pong/users/views/me.py
  backend/pong/users/views/retrieve.py
Labels: backend

#254 🌱 [users] `/api/users/me/, PATCH` のための update() 実装と unit test 追加
  backend/pong/users/serializers.py
  backend/pong/users/tests/unit/test_users_serializer.py
Labels: backend

#262 :seedling: トーナメント中にwebsocketでのやり取りをハンドリングするクラスを作成
  backend/pong/ws/match/constants.py
  backend/pong/ws/match/handler.py
  backend/pong/ws/share/channel_handler.py
  backend/pong/ws/share/constants.py
  backend/pong/ws/tournament/constants.py
  backend/pong/ws/tournament/handler.py
Labels: backend

#255 🌱 [users] `/api/users/me/`, `PATCH` 実装 (自分の display_name を更新)
  backend/pong/users/serializers.py
  backend/pong/users/tests/integration/test_me.py
  backend/pong/users/tests/unit/test_users_serializer.py
  backend/pong/users/views/me.py
Labels: backend

#268 🌱 [friends] フレンド関連を置くディレクトリの土台と Friendship model を追加
  backend/pong/pong/settings.py
  backend/pong/users/admin.py
  backend/pong/users/friends/__init__.py
  backend/pong/users/friends/constants.py
  backend/pong/users/friends/migrations/0001_initial.py
  backend/pong/users/friends/migrations/__init__.py
  backend/pong/users/friends/models.py
  backend/pong/users/friends/urls.py
  backend/pong/users/friends/views.py
  backend/pong/users/urls.py
Labels: backend

#269 🌱 [friends] friendship model の unit test 追加
  backend/pong/users/friends/tests/__init__.py
  backend/pong/users/friends/tests/test_friendship_model.py
Labels: backend

#249 :zap: クレームの定義とペイロードの検証
  backend/pong/tmp_jwt/jwt_validator.py
  backend/pong/tmp_jwt/tests/unit/test_jwt_validator.py
Labels: backend

#273 :zap: (backend) テストケースを並行に実行するよう変更
  .github/workflows/backend_test.yml
  backend/pong/Makefile
Labels: backend

#271 ⚡♻️ [users] 500 schema・logger 追加・リファクタリング
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/tests/integration/test_me.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/views/list.py
  backend/pong/users/views/me.py
  backend/pong/users/views/retrieve.py
Labels: backend

#278 ⚡ (FE) パッケージバージョンの更新
  frontend/pong/package-lock.json
  frontend/pong/package.json
Labels: frontend

#275 :zap: Redisコンテナ作成＆ChannelLayerをRedisに変更
  .env.example
  .github/workflows/backend_code_check.yml
  .github/workflows/backend_test.yml
  backend/pong/pong/settings.py
  backend/tools/requirements.in
  backend/tools/requirements.txt
  compose.yaml
  redis/redis.conf
Labels: backend

#276 :zap: JWTのエンドポイントの設計作成
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
  backend/pong/simple_jwt/__init__.py
  backend/pong/simple_jwt/urls.py
  backend/pong/tmp_jwt/urls.py
  backend/pong/tmp_jwt/views/__init__.py
  backend/pong/tmp_jwt/views/refresh.py
  backend/pong/tmp_jwt/views/token.py
  backend/pong/users/tests/integration/test_me.py
Labels: backend

#282 ⚡ [custom response] CustomResponse に code を追加
  backend/pong/pong/custom_response/custom_response.py
  backend/pong/pong/custom_response/test_custom_response.py
Labels: backend

#277 [friends] `/api/users/me/friends/`, `GET` 実装 (自分のフレンド一覧取得)
  backend/pong/users/friends/constants.py
  backend/pong/users/friends/serializers/__init__.py
  backend/pong/users/friends/serializers/list_serializers.py
  backend/pong/users/friends/serializers/tests/__init__.py
  backend/pong/users/friends/serializers/tests/test_list_serializers.py
  backend/pong/users/friends/views.py
Labels: backend

#286 :zap: Match周辺のモデルを作成
  backend/pong/matches/__init__.py
  backend/pong/matches/admin.py
  backend/pong/matches/apps.py
  backend/pong/matches/constants.py
  backend/pong/matches/match/models.py
  backend/pong/matches/migrations/0001_initial.py
  backend/pong/matches/migrations/__init__.py
  backend/pong/matches/participation/models.py
  backend/pong/matches/score/models.py
  backend/pong/pong/settings.py
Labels: backend

#285 ⚡ [users] レスポンスで `code` を返すように
  backend/pong/users/constants.py
  backend/pong/users/tests/integration/test_me.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/views/me.py
  backend/pong/users/views/retrieve.py
Labels: backend

#288 ⚡ [player,avatar] avatar フィールドを Player テーブルに追加・レスポンスに含めるように
  backend/pong/accounts/admin.py
  backend/pong/accounts/constants.py
  backend/pong/accounts/migrations/0001_initial.py
  backend/pong/accounts/player/models.py
  backend/pong/accounts/player/serializers.py
  backend/pong/accounts/player/tests/test_player_serializer.py
  backend/pong/media/avatars/sample.png
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
  backend/pong/users/serializers.py
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/tests/integration/test_me.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/tests/unit/test_users_serializer.py
  backend/pong/users/views/list.py
  backend/pong/users/views/me.py
  backend/pong/users/views/retrieve.py
  backend/tools/requirements.in
  backend/tools/requirements.txt
Labels: backend

#291 ⚡ [friends] `/api/users/me/friends/`, `GET` の integration test 追加
  backend/pong/users/friends/tests/integration/__init__.py
  backend/pong/users/friends/tests/integration/test_list_views.py
  backend/pong/users/friends/tests/unit/__init__.py
  backend/pong/users/friends/tests/unit/test_friendship_model.py
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/tests/integration/test_retrieve.py
Labels: backend

#296 🌱 [friends] フレンド新規追加の POST メソッドで使用する serializer 追加
  backend/pong/users/constants.py
  backend/pong/users/friends/serializers/create_serializers.py
  backend/pong/users/friends/serializers/list_serializers.py
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
  backend/pong/users/friends/serializers/tests/test_list_serializers.py
  backend/pong/users/friends/serializers/validators.py
  backend/pong/users/friends/tests/integration/test_list_views.py
Labels: backend

#312 ⚡ ユーザーのアバターを使用
  frontend/pong/js/api/users/convertUserData.js
  frontend/pong/js/bootstrap/utilities/borders.js
  frontend/pong/js/components/user/UserListItem.js
  frontend/pong/js/components/user/UserProfile.js
  frontend/pong/js/constants/Endpoints.js
  frontend/pong/js/mocks/handlers/users.js
  frontend/pong/js/utils/elements/div/createNameplate.js
Labels: frontend

#323 🌱 フレンド一覧の表示
  frontend/pong/js/api/users/convertFriendData.js
  frontend/pong/js/api/users/convertUserData.js
  frontend/pong/js/api/users/getFriends.js
  frontend/pong/js/components/user/UserListContainer.js
  frontend/pong/js/components/views/FriendsView.js
  frontend/pong/js/components/views/UsersView.js
  frontend/pong/js/constants/Endpoints.js
  frontend/pong/js/mocks/handlers/friends.js
  frontend/pong/js/mocks/handlers/index.js
  frontend/pong/js/mocks/handlers/users.js
  frontend/pong/js/mocks/utils/createSamples.js
Labels: frontend

#324 ⚡ JSON の数値型 ID 対応
  frontend/pong/js/api/users/convertFriendData.js
  frontend/pong/js/api/users/convertUserData.js
  frontend/pong/js/mocks/handlers/users.js
  frontend/pong/js/mocks/utils/createSamples.js
  frontend/pong/package-lock.json
  frontend/pong/package.json
Labels: frontend

#298 :zap: Matchエンドポイント設計、シリアライザー作成
  backend/pong/matches/match/serializers.py
  backend/pong/matches/participation/serializers.py
  backend/pong/matches/score/serializers.py
  backend/pong/matches/urls.py
  backend/pong/matches/views.py
  backend/pong/pong/urls.py
Labels: backend

#299 ⚡ [friends] `/api/users/me/friends/`, `POST` 実装 (フレンド追加)
  backend/pong/users/friends/views.py
Labels: backend

#302 🌱 [friends] フレンド追加の POST メソッドの integration test 追加
  backend/pong/users/friends/tests/integration/test_create_views.py
Labels: backend

#304 🌱 [friends] フレンド解除の DELETE メソッドで使用する serializer 追加
  backend/pong/users/friends/serializers/create_serializers.py
  backend/pong/users/friends/serializers/destroy_serializers.py
  backend/pong/users/friends/serializers/tests/test_destroy_serializer.py
  backend/pong/users/friends/serializers/validators.py
Labels: backend

#314 :zap: (BE:jwt) `/api/token` POST 作成
  backend/pong/tmp_jwt/create_access_and_refresh_token.py
  backend/pong/tmp_jwt/tests/integrations/__init__.py
  backend/pong/tmp_jwt/tests/integrations/test_token.py
  backend/pong/tmp_jwt/views/token.py
Labels: backend

#320 🐛 [response] data が空 list の場合にそのまま返すように修正
  backend/pong/pong/custom_response/custom_response.py
  backend/pong/pong/custom_response/test_custom_response.py
  backend/pong/users/friends/tests/integration/test_list_views.py
  backend/pong/users/tests/integration/test_list.py
Labels: backend

#313 ⚡ [users] UsersSerializer に is_friend 追加
  backend/pong/users/constants.py
  backend/pong/users/serializers.py
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/tests/integration/test_me.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/tests/unit/test_users_serializer.py
  backend/pong/users/views/list.py
  backend/pong/users/views/me.py
  backend/pong/users/views/retrieve.py
Labels: backend

#337 🌱 チャット機能の基盤を追加
  frontend/pong/index.html
  frontend/pong/js/bootstrap/components/buttons.js
  frontend/pong/js/bootstrap/utilities/background.js
  frontend/pong/js/bootstrap/utilities/display.js
  frontend/pong/js/bootstrap/utilities/position.js
  frontend/pong/js/components/chat/ChatBuddyListContainer.js
  frontend/pong/js/components/chat/ChatDmContainer.js
  frontend/pong/js/components/chat/ChatGlobal.js
  frontend/pong/js/components/chat/ChatPanel.js
  frontend/pong/js/components/index.js
  frontend/pong/js/components/navigation/MainNavbar.js
  frontend/pong/js/components/utils/EventDispatchingButton.js
  frontend/pong/js/components/views/ChatView.js
  frontend/pong/js/components/views/MainView.js
  frontend/pong/js/constants/Paths.js
  frontend/pong/js/constants/PongEvents.js
  frontend/pong/js/core/StyledButton.js
  frontend/pong/js/main.js
  frontend/pong/js/routers/appRouter.js
  frontend/pong/js/routers/mainRouter.js
Labels: frontend

#315 :zap: TournamentエンドポイントをReadOnlyに修正
  backend/pong/tournaments/participation/views.py
  backend/pong/tournaments/round/serializers.py
  backend/pong/tournaments/tournament/serializers.py
  backend/pong/tournaments/tournament/views.py
  backend/pong/tournaments/urls.py
Labels: backend

#328 ⚡ [friends] 使用しない retrieve のエンドポイントは 405 が返るようにし、extend_schema からも削除
  backend/pong/users/friends/views.py
Labels: backend

#330 ⚡ [accounts] email の validator のテスト追加
  backend/pong/accounts/tests/test_accounts.py
  backend/pong/accounts/user/serializers.py
  backend/pong/accounts/user/tests/test_user_serializer.py
Labels: backend

#332 :zap: game関係のテーブルカラム修正とそれに伴うリファクタリング
  backend/pong/matches/constants.py
  backend/pong/matches/match/models.py
  backend/pong/matches/match/serializers.py
  backend/pong/matches/migrations/0001_initial.py
  backend/pong/matches/participation/models.py
  backend/pong/matches/participation/serializers.py
  backend/pong/matches/views.py
  backend/pong/tournaments/constants.py
  backend/pong/tournaments/migrations/0001_initial.py
  backend/pong/tournaments/round/models.py
  backend/pong/tournaments/round/serializers.py
  backend/pong/tournaments/round/tests/tests.py
  backend/pong/tournaments/tournament/models.py
  backend/pong/tournaments/tournament/serializers.py
  backend/pong/tournaments/tournament/views.py
Labels: backend

#309 ⚡ [friends] `/api/users/me/friends/{friend_id}/`, `DELETE` 実装 (フレンド解除)
  backend/pong/users/friends/views.py
Labels: backend

#310 🌱 [friends] フレンド解除の DELETE メソッドの integration test 追加
  backend/pong/users/friends/tests/integration/test_destroy_views.py
Labels: backend

#329 ⚡ [users, friend] ユーザープロフィールとして返す情報を統一する
  backend/pong/users/friends/serializers/create_serializers.py
  backend/pong/users/friends/serializers/destroy_serializers.py
  backend/pong/users/friends/serializers/list_serializers.py
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
  backend/pong/users/friends/serializers/tests/test_destroy_serializer.py
  backend/pong/users/friends/serializers/tests/test_list_serializers.py
  backend/pong/users/friends/tests/integration/test_create_views.py
  backend/pong/users/friends/tests/integration/test_list_views.py
  backend/pong/users/friends/views.py
  backend/pong/users/serializers.py
Labels: backend

#336 ⚡ [accounts] password の validator を追加
  backend/pong/accounts/tests/test_accounts.py
  backend/pong/accounts/user/serializers.py
  backend/pong/accounts/user/tests/test_user_serializer.py
Labels: backend

#348 ⚡ [users] 認証付きにしていなかったエンドポイントを IsAuthenticated に変更
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/views/list.py
  backend/pong/users/views/me.py
  backend/pong/users/views/retrieve.py
Labels: backend

#339 :zap: game関連エンドポイントをカスタムレスポンスにし、フィルター機能なども追加（とりあえずエンドポイント完成）
  backend/pong/matches/participation/serializers.py
  backend/pong/matches/urls.py
  backend/pong/matches/views.py
  backend/pong/pong/readonly_custom_renderer.py
  backend/pong/tournaments/participation/serializers.py
  backend/pong/tournaments/participation/views.py
  backend/pong/tournaments/tournament/views.py
  backend/pong/tournaments/urls.py
Labels: backend

#342 ⚡ [accounts] レスポンスに code を返すように
  backend/pong/accounts/admin.py
  backend/pong/accounts/constants.py
  backend/pong/accounts/create_account/create_account.py
  backend/pong/accounts/player/serializers.py
  backend/pong/accounts/tests/test_accounts.py
  backend/pong/accounts/user/tests/test_user_serializer.py
  backend/pong/accounts/views.py
Labels: backend

#350 ⚡ [users, friends] handle_exception() をオーバーライドして CustomResponse の 500 を返す
  backend/pong/users/friends/views.py
  backend/pong/users/views/list.py
  backend/pong/users/views/me.py
  backend/pong/users/views/retrieve.py
Labels: backend

#351 🐛 [friends] Player が存在しないユーザー(superuser 含む)をフレンド追加・削除できてしまう問題修正
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
  backend/pong/users/friends/serializers/tests/test_destroy_serializer.py
  backend/pong/users/friends/serializers/validators.py
  backend/pong/users/friends/tests/integration/test_create_views.py
  backend/pong/users/friends/tests/integration/test_destroy_views.py
  backend/pong/users/friends/tests/integration/test_list_views.py
  backend/pong/users/friends/views.py
Labels: backend

#358 🌱 [blocks] ブロック関係を表す model 追加
  backend/pong/pong/settings.py
  backend/pong/users/admin.py
  backend/pong/users/blocks/__init__.py
  backend/pong/users/blocks/constants.py
  backend/pong/users/blocks/migrations/0001_initial.py
  backend/pong/users/blocks/migrations/__init__.py
  backend/pong/users/blocks/models.py
  backend/pong/users/blocks/tests/__init__.py
  backend/pong/users/blocks/tests/test_block_relationship_model.py
  backend/pong/users/blocks/urls.py
  backend/pong/users/blocks/views.py
  backend/pong/users/urls.py
Labels: backend

#369 🐛 [friends] フレンドの extend_schema, test 微修正
  backend/pong/users/friends/serializers/tests/test_destroy_serializer.py
  backend/pong/users/friends/tests/integration/test_create_views.py
  backend/pong/users/friends/tests/integration/test_destroy_views.py
  backend/pong/users/friends/views.py
Labels: backend

#363 🌱 [blocks] `/api/users/me/blocks/`, `GET` 実装 (ブロック一覧取得)
  backend/pong/users/blocks/constants.py
  backend/pong/users/blocks/serializers/__init__.py
  backend/pong/users/blocks/serializers/list_serializers.py
  backend/pong/users/blocks/serializers/tests/__init__.py
  backend/pong/users/blocks/serializers/tests/test_list_serializers.py
  backend/pong/users/blocks/tests/integration/__init__.py
  backend/pong/users/blocks/tests/integration/test_list_views.py
  backend/pong/users/blocks/tests/unit/__init__.py
  backend/pong/users/blocks/tests/unit/test_block_relationship_model.py
  backend/pong/users/blocks/views.py
Labels: backend

#366 🌱 [blocks] `/api/users/me/blocks/`, `POST` 実装 (ブロック追加)
  backend/pong/users/blocks/serializers/create_serializers.py
  backend/pong/users/blocks/serializers/tests/test_create_serializers.py
  backend/pong/users/blocks/serializers/validators.py
  backend/pong/users/blocks/tests/integration/test_create_views.py
  backend/pong/users/blocks/views.py
Labels: backend

#325 [Login]ログイン画面のEmail、Passwordのバリデーションチェック実装
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/constants/AuthConstants.js
  frontend/pong/js/constants/Endpoints.js
  frontend/pong/js/constants/message/FrontendMessage.js
  frontend/pong/js/enums/MessageEnums.js
  frontend/pong/js/utils/validator/validateEmail.js
  frontend/pong/js/utils/validator/validatePassword.js
  frontend/pong/tests/validateEmail.test.js
  frontend/pong/tests/validatePassword.test.js
Labels: frontend

#359 ⚡ トーナメント入口の機能拡張
  frontend/pong/js/bootstrap/utilities/borders.js
  frontend/pong/js/components/index.js
  frontend/pong/js/components/tournament/TournamentEntrance.js
  frontend/pong/js/components/tournament/TournamentFinished.js
  frontend/pong/js/components/tournament/TournamentJoinButton.js
  frontend/pong/js/components/tournament/TournamentStageTransitionButton.js
  frontend/pong/js/components/tournament/TournamentStageTransitionButtonWithInput.js
  frontend/pong/js/components/tournament/TournamentWaiting.js
  frontend/pong/js/components/utils/ObservableInput.js
  frontend/pong/js/components/views/ErrorView.js
  frontend/pong/js/components/views/LoadingView.js
  frontend/pong/js/components/views/MainView.js
  frontend/pong/js/constants/TournamentConstants.js
  frontend/pong/js/constants/UserConstants.js
  frontend/pong/js/core/DataSubject.js
  frontend/pong/js/core/Router.js
  frontend/pong/js/enums/TournamentEnums.js
  frontend/pong/js/enums/WebSocketEnums.js
  frontend/pong/js/main.js
  frontend/pong/js/mocks/handlers/webSocket.js
  frontend/pong/js/mocks/utils/websocket/sendPayloads.js
  frontend/pong/js/mocks/utils/websocket/tournamentPayloadHandler.js
  frontend/pong/js/routers/mainRouter.js
  frontend/pong/js/session/UserSession.js
  frontend/pong/js/session/UserSessionManager.js
  frontend/pong/js/utils/tournament/isValidTournamentId.js
  frontend/pong/js/utils/user/isValidDisplayName.js
  frontend/pong/js/websocket/WebSocketWrapper.js
  frontend/pong/js/websocket/index.js
  frontend/pong/js/websocket/payload/TournamentPayload.js
  frontend/pong/js/websocket/payload/tournament/createJoin.js
  frontend/pong/tests/websocket/createJoin.test.js
Labels: frontend

#368 🌱 [blocks] `/api/users/me/blocks/{id}`, `DELETE` 実装 (ブロック解除)
  backend/pong/users/blocks/serializers/destroy_serializers.py
  backend/pong/users/blocks/serializers/tests/test_destroy_serializers.py
  backend/pong/users/blocks/serializers/validators.py
  backend/pong/users/blocks/tests/integration/test_destroy_views.py
  backend/pong/users/blocks/views.py
Labels: backend

#373 ⚡ [users] UsersSerializer に is_blocked 追加
  backend/pong/accounts/views.py
  backend/pong/users/blocks/serializers/create_serializers.py
  backend/pong/users/blocks/serializers/list_serializers.py
  backend/pong/users/blocks/serializers/tests/test_create_serializers.py
  backend/pong/users/blocks/serializers/tests/test_list_serializers.py
  backend/pong/users/blocks/tests/integration/test_create_views.py
  backend/pong/users/blocks/tests/integration/test_list_views.py
  backend/pong/users/blocks/views.py
  backend/pong/users/constants.py
  backend/pong/users/friends/serializers/create_serializers.py
  backend/pong/users/friends/serializers/list_serializers.py
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
  backend/pong/users/friends/serializers/tests/test_list_serializers.py
  backend/pong/users/friends/tests/integration/test_create_views.py
  backend/pong/users/friends/tests/integration/test_list_views.py
  backend/pong/users/friends/views.py
  backend/pong/users/serializers.py
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/tests/integration/test_me.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/tests/unit/test_users_serializer.py
  backend/pong/users/views/list.py
  backend/pong/users/views/me.py
  backend/pong/users/views/retrieve.py
Labels: backend

#376 ⚡ [users] `/api/users/me/`, `PATCH` で自分の avatar を更新できるように
  backend/pong/accounts/player/serializers.py
  backend/pong/users/serializers.py
  backend/pong/users/tests/integration/test_me.py
  backend/pong/users/views/me.py
Labels: backend

#380 :zap: 作成・更新のためのトーナメントシリアライザ―作成
  backend/pong/tournaments/constants.py
  backend/pong/tournaments/tournament/serializers.py
  backend/pong/tournaments/tournament/tests/__init__.py
  backend/pong/tournaments/tournament/tests/test_command_serializers.py
  backend/pong/tournaments/tournament/views.py
Labels: backend

#378 🌱 [pagination] BE全体で使用する一覧取得系のページネーションのカスタム版作成
  backend/pong/pong/custom_pagination/__init__.py
  backend/pong/pong/custom_pagination/custom_pagination.py
  backend/pong/pong/custom_pagination/test_custom_pagination.py
Labels: backend

#382 ⚡ [users, friends, blocks] 一覧取得系のエンドポイントで CustomPagination を使用するよう変更
  backend/pong/users/blocks/tests/integration/test_list_views.py
  backend/pong/users/blocks/views.py
  backend/pong/users/friends/tests/integration/test_list_views.py
  backend/pong/users/friends/views.py
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/views/list.py
Labels: backend

#386 :zap: トーナメント進行クラスのひな型を作成
  backend/pong/ws/consumers.py
  backend/pong/ws/routing.py
  backend/pong/ws/tournament/handler.py
  backend/pong/ws/tournament/manager.py
  backend/pong/ws/tournament/manager_registry.py
Labels: backend

#374 ⚡ トーナメント進行のハンドリング、待機画面を構成
  frontend/pong/js/api/participations/convertParticipationData.js
  frontend/pong/js/api/participations/getParticipations.js
  frontend/pong/js/api/users/convertFriendData.js
  frontend/pong/js/api/users/convertUserData.js
  frontend/pong/js/api/users/getUser.js
  frontend/pong/js/bootstrap/layout/grid.js
  frontend/pong/js/bootstrap/utilities/borders.js
  frontend/pong/js/bootstrap/utilities/flex.js
  frontend/pong/js/bootstrap/utilities/sizing.js
  frontend/pong/js/components/chat/ChatContainer.js
  frontend/pong/js/components/chat/ChatInputForm.js
  frontend/pong/js/components/chat/ChatMessageListItem.js
  frontend/pong/js/components/index.js
  frontend/pong/js/components/tournament/PlayerProfile.js
  frontend/pong/js/components/tournament/TournamentContainer.js
  frontend/pong/js/components/tournament/TournamentEntrance.js
  frontend/pong/js/components/tournament/TournamentLeaveButton.js
  frontend/pong/js/components/tournament/TournamentPlayers.js
  frontend/pong/js/components/tournament/TournamentProgress.js
  frontend/pong/js/components/tournament/TournamentWaiting.js
  frontend/pong/js/components/user/UserProfile.js
  frontend/pong/js/components/utils/ListContainer.js
  frontend/pong/js/constants/Endpoints.js
  frontend/pong/js/constants/GeneralConstants.js
  frontend/pong/js/constants/TournamentConstants.js
  frontend/pong/js/core/DataSubject.js
  frontend/pong/js/enums/WebSocketEnums.js
  frontend/pong/js/mocks/handlers/index.js
  frontend/pong/js/mocks/handlers/participations.js
  frontend/pong/js/mocks/handlers/users.js
  frontend/pong/js/mocks/handlers/webSocket.js
  frontend/pong/js/mocks/utils/createSamples.js
  frontend/pong/js/mocks/utils/websocket/chatPayloadHandler.js
  frontend/pong/js/mocks/utils/websocket/sendPayloads.js
  frontend/pong/js/mocks/utils/websocket/tournamentPayloadHandler.js
  frontend/pong/js/utils/chat/ChatMessage.js
  frontend/pong/js/utils/chat/isGroupChat.js
  frontend/pong/js/utils/chat/isValidGroupMessage.js
  frontend/pong/js/utils/elements/div/createHorizontalSplitLayout.js
  frontend/pong/js/utils/elements/div/createNameplate.js
  frontend/pong/js/utils/elements/div/createVerticalSplitLayout.js
  frontend/pong/js/utils/elements/unsetClassNames.js
  frontend/pong/js/utils/isNullOrValidId.js
  frontend/pong/js/utils/isValidId.js
  frontend/pong/js/utils/isValidIdStr.js
  frontend/pong/js/utils/sliceWithDefaults.js
  frontend/pong/js/utils/tournament/isValidTournamentId.js
  frontend/pong/js/websocket/WebSocketWrapper.js
  frontend/pong/js/websocket/payload/ChatPayload.js
  frontend/pong/js/websocket/payload/TournamentPayload.js
  frontend/pong/js/websocket/payload/chat/createGroupChat.js
  frontend/pong/js/websocket/payload/tournament/createLeave.js
  frontend/pong/public/sample.png
  frontend/pong/tests/websocket/createLeave.test.js
Labels: frontend

#375 ⚡ ユーザー認証のハンドリング
  frontend/pong/js/api/participations/getParticipations.js
  frontend/pong/js/api/users/convertMyInfoData.js
  frontend/pong/js/api/users/getFriends.js
  frontend/pong/js/api/users/getMyInfo.js
  frontend/pong/js/api/users/getUser.js
  frontend/pong/js/api/users/getUsers.js
  frontend/pong/js/api/utils/fetchAuthenticatedData.js
  frontend/pong/js/api/utils/fetchData.js
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/components/auth/SignInButton.js
  frontend/pong/js/components/auth/SignOutButton.js
  frontend/pong/js/components/tournament/TournamentEntrance.js
  frontend/pong/js/components/tournament/TournamentJoinButton.js
  frontend/pong/js/components/tournament/TournamentProgress.js
  frontend/pong/js/components/user/UserProfileHeader.js
  frontend/pong/js/components/utils/ObservableInput.js
  frontend/pong/js/components/views/FriendsView.js
  frontend/pong/js/components/views/LoginView.js
  frontend/pong/js/components/views/MyPageView.js
  frontend/pong/js/components/views/TournamentsView.js
  frontend/pong/js/components/views/UsersView.js
  frontend/pong/js/constants/Endpoints.js
  frontend/pong/js/core/AuthView.js
  frontend/pong/js/core/Component.js
  frontend/pong/js/main.js
  frontend/pong/js/mocks/handlers/friends.js
  frontend/pong/js/mocks/handlers/index.js
  frontend/pong/js/mocks/handlers/participations.js
  frontend/pong/js/mocks/handlers/token.js
  frontend/pong/js/mocks/handlers/users.js
  frontend/pong/js/mocks/utils/createSamples.js
  frontend/pong/js/mocks/utils/mockToken.js
  frontend/pong/js/session/UserSession.js
  frontend/pong/js/session/UserSessionManager.js
Labels: frontend

#389 ⚡ [users] UsersSerializer に match_wins, match_losses 追加
  backend/pong/accounts/views.py
  backend/pong/users/blocks/serializers/create_serializers.py
  backend/pong/users/blocks/serializers/list_serializers.py
  backend/pong/users/blocks/serializers/tests/test_create_serializers.py
  backend/pong/users/blocks/serializers/tests/test_list_serializers.py
  backend/pong/users/blocks/tests/integration/test_create_views.py
  backend/pong/users/blocks/tests/integration/test_list_views.py
  backend/pong/users/blocks/views.py
  backend/pong/users/constants.py
  backend/pong/users/friends/serializers/create_serializers.py
  backend/pong/users/friends/serializers/list_serializers.py
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
  backend/pong/users/friends/serializers/tests/test_list_serializers.py
  backend/pong/users/friends/tests/integration/test_create_views.py
  backend/pong/users/friends/tests/integration/test_list_views.py
  backend/pong/users/friends/views.py
  backend/pong/users/serializers.py
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/tests/integration/test_me.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/tests/unit/test_users_serializer.py
  backend/pong/users/tests/unit/test_users_serializers_related_matches.py
  backend/pong/users/views/list.py
  backend/pong/users/views/me.py
  backend/pong/users/views/retrieve.py
Labels: backend

#388 ♻️ [accounts] handle_exception() で 500 をまとめて投げるように変更
  backend/pong/accounts/views.py
Labels: backend

#387 ⚡ トーナメントの進行ハンドリング: 進行中、終了の画面構成
  frontend/pong/js/api/tournaments/convertStatus.js
  frontend/pong/js/api/tournaments/convertTournamentData.js
  frontend/pong/js/api/tournaments/getTournament.js
  frontend/pong/js/bootstrap/components/badge.js
  frontend/pong/js/bootstrap/components/listGroup.js
  frontend/pong/js/bootstrap/utilities/flex.js
  frontend/pong/js/bootstrap/utilities/shadows.js
  frontend/pong/js/bootstrap/utilities/text.js
  frontend/pong/js/components/index.js
  frontend/pong/js/components/tournament/MatchCard.js
  frontend/pong/js/components/tournament/ParticipationProfile.js
  frontend/pong/js/components/tournament/PlayerProfile.js
  frontend/pong/js/components/tournament/RoundCard.js
  frontend/pong/js/components/tournament/TournamentFinished.js
  frontend/pong/js/components/tournament/TournamentOngoing.js
  frontend/pong/js/components/tournament/TournamentParticipations.js
  frontend/pong/js/components/tournament/TournamentProgress.js
  frontend/pong/js/components/tournament/TournamentProgressTransitionButton.js
  frontend/pong/js/components/tournament/TournamentScoreboard.js
  frontend/pong/js/components/tournament/TournamentStateContainer.js
  frontend/pong/js/components/tournament/TournamentWaiting.js
  frontend/pong/js/components/utils/ListContainer.js
  frontend/pong/js/constants/Endpoints.js
  frontend/pong/js/constants/PongEvents.js
  frontend/pong/js/enums/MatchEnums.js
  frontend/pong/js/enums/TournamentEnums.js
  frontend/pong/js/enums/WebSocketEnums.js
  frontend/pong/js/mocks/handlers/index.js
  frontend/pong/js/mocks/handlers/participations.js
  frontend/pong/js/mocks/handlers/tournaments.js
  frontend/pong/js/mocks/utils/createSamples.js
  frontend/pong/js/mocks/utils/websocket/tournamentPayloadHandler.js
  frontend/pong/js/utils/elements/div/createFlexBox.js
  frontend/pong/js/utils/elements/div/createThreeColumnLayout.js
  frontend/pong/js/utils/elements/li/createDefaultListItem.js
  frontend/pong/js/utils/elements/li/createListItem.js
  frontend/pong/js/utils/match/getMatchResult.js
  frontend/pong/js/utils/tournament/createStatusBadge.js
  frontend/pong/js/utils/tournament/isPlayerReload.js
  frontend/pong/js/utils/tournament/isTournamentStateReload.js
Labels: frontend

#417 ⚡ [avatar] 拡張子の制限を追加
  backend/pong/accounts/constants.py
  backend/pong/accounts/player/serializers.py
  backend/pong/accounts/player/tests/test_player_serializer.py
Labels: backend

#407 [jwt] simplejwtから自作jwtに変更
  backend/pong/accounts/views.py
  backend/pong/jwt/__init__.py
  backend/pong/jwt/authentication.py
  backend/pong/jwt/base64_url.py
  backend/pong/jwt/create_access_and_refresh_token.py
  backend/pong/jwt/jws.py
  backend/pong/jwt/jwt.py
  backend/pong/jwt/jwt_validator.py
  backend/pong/jwt/schema.py
  backend/pong/jwt/tests/__init__.py
  backend/pong/jwt/tests/integrations/__init__.py
  backend/pong/jwt/tests/integrations/test_token.py
  backend/pong/jwt/tests/unit/__init__.py
  backend/pong/jwt/tests/unit/test_authentication.py
  backend/pong/jwt/tests/unit/test_base64_url.py
  backend/pong/jwt/tests/unit/test_jws.py
  backend/pong/jwt/tests/unit/test_jwt.py
  backend/pong/jwt/tests/unit/test_jwt_validator.py
  backend/pong/jwt/urls.py
  backend/pong/jwt/views/__init__.py
  backend/pong/jwt/views/refresh.py
  backend/pong/jwt/views/token.py
  backend/pong/matches/views.py
  backend/pong/oauth2/views.py
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
  backend/pong/simple_jwt/urls.py
  backend/pong/tmp_jwt/tests/unit/__init__.py
  backend/pong/tournaments/participation/views.py
  backend/pong/tournaments/tournament/views.py
  backend/pong/users/blocks/tests/integration/test_create_views.py
  backend/pong/users/blocks/tests/integration/test_destroy_views.py
  backend/pong/users/blocks/tests/integration/test_list_views.py
  backend/pong/users/blocks/views.py
  backend/pong/users/friends/tests/integration/test_create_views.py
  backend/pong/users/friends/tests/integration/test_destroy_views.py
  backend/pong/users/friends/tests/integration/test_list_views.py
  backend/pong/users/friends/views.py
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/tests/integration/test_me.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/views/list.py
  backend/pong/users/views/me.py
  backend/pong/users/views/retrieve.py
Labels: backend

#406 🌱 [avatar] デフォルト画像を生成してセットする
  backend/.gitignore
  backend/pong/accounts/create_account/test_create_account.py
  backend/pong/accounts/player/identicon.py
  backend/pong/accounts/player/models.py
  backend/pong/accounts/player/tests/test_player_model.py
  backend/pong/accounts/player/tests/test_player_serializer.py
  backend/pong/accounts/tests/test_accounts.py
  backend/pong/matches/participation/tests/test_models.py
  backend/pong/matches/score/tests/test_models.py
  backend/pong/media/avatars/sample.png
  backend/pong/oauth2/tests/unit/test_create_oauth2_account.py
  backend/pong/tournaments/participation/tests/test_command_serializers.py
  backend/pong/tournaments/tournament/tests/test_command_serializers.py
  backend/pong/users/blocks/serializers/tests/test_create_serializers.py
  backend/pong/users/blocks/serializers/tests/test_destroy_serializers.py
  backend/pong/users/blocks/serializers/tests/test_list_serializers.py
  backend/pong/users/blocks/tests/integration/test_create_views.py
  backend/pong/users/blocks/tests/integration/test_destroy_views.py
  backend/pong/users/blocks/tests/integration/test_list_views.py
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
  backend/pong/users/friends/serializers/tests/test_destroy_serializer.py
  backend/pong/users/friends/serializers/tests/test_list_serializers.py
  backend/pong/users/friends/tests/integration/test_create_views.py
  backend/pong/users/friends/tests/integration/test_destroy_views.py
  backend/pong/users/friends/tests/integration/test_list_views.py
  backend/pong/users/serializers.py
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/tests/integration/test_me.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/tests/unit/test_users_serializer.py
  backend/pong/users/tests/unit/test_users_serializers_related_matches.py
Labels: backend

#416 🌱 ローカルマッチ、リモートマッチの対応
  frontend/pong/js/bootstrap/utilities/display.js
  frontend/pong/js/bootstrap/utilities/position.js
  frontend/pong/js/components/game/GameStartPanel.js
  frontend/pong/js/components/index.js
  frontend/pong/js/components/match/MatchContainer.js
  frontend/pong/js/components/match/MatchRenderer.js
  frontend/pong/js/components/match/MatchRenderer3D.js
  frontend/pong/js/components/tournament/TournamentProgress.js
  frontend/pong/js/constants/MatchConstants.js
  frontend/pong/js/constants/PongEvents.js
  frontend/pong/js/core/StyledButton.js
  frontend/pong/js/mocks/utils/createSamples.js
  frontend/pong/js/mocks/utils/websocket/matchPayloadHandler.js
  frontend/pong/js/mocks/utils/websocket/tournamentPayloadHandler.js
  frontend/pong/js/utils/customDelay.js
  frontend/pong/js/utils/elements/div/createFlexBox.js
  frontend/pong/js/utils/elements/span/createTextElement.js
  frontend/pong/js/utils/match/ThreeUtils.js
  frontend/pong/js/utils/match/createMatchCanvas.js
  frontend/pong/js/utils/match/entity/BorderEntity.js
  frontend/pong/js/utils/match/entity/CanvasEntity.js
  frontend/pong/js/utils/match/entity/RectangleEntity.js
  frontend/pong/js/utils/match/entity/ScoreEntity.js
  frontend/pong/js/utils/match/entity/createInitialMatchEntities.js
  frontend/pong/js/utils/match/entity/setEntities.js
  frontend/pong/js/websocket/WebSocketWrapper.js
  frontend/pong/package-lock.json
  frontend/pong/package.json
Labels: frontend

#422 :zap: (ws/tournament) トーナメント進行で使用する非同期DB操作関数を追加
  backend/pong/ws/tournament/async_db_serivice.py
Labels: backend
