Repository 42-pong/42-pong, pull requests merged in 2025-03, with the labels that each got.

#440 ラウンドのDB操作関数を作り忘れていたので追加
  backend/pong/ws/tournament/async_db_service.py
  backend/pong/ws/tournament/tests/__init__.py
  backend/pong/ws/tournament/tests/pytest_async_db_service.py
Labels: backend

#444 🌱 HTTPS 対応
  .gitignore
  Makefile
  backend/pong/pong/settings.py
  compose.yaml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/openssl.cnf
  frontend/pong/js/constants/Endpoints.js
Labels: global

#438 [OAuth2] `/api/oauth2/callback`のエラー処理作成
  backend/pong/oauth2/create_oauth2_account.py
  backend/pong/oauth2/serializers.py
  backend/pong/oauth2/tests/unit/test_create_oauth2_account.py
  backend/pong/oauth2/tests/unit/test_serializers.py
  backend/pong/oauth2/views.py
Labels: backend

#420 ⚡ マッチに関係するDBの非同期操作関数を作成
  backend/pong/ws/match/async_db_service.py
Labels: backend

#427 :zap: Pongのロジック部分を切り出したクラスを作成
  backend/pong/ws/match/pong_logic.py
Labels: backend

#448 ⚡ トーナメント・マッチのリストエンドポイントのページネーション実装
  backend/pong/matches/views.py
  backend/pong/tournaments/participation/views.py
  backend/pong/tournaments/tournament/views.py
Labels: backend

#418 ⚡ [avatar] 更新時に resize
  backend/pong/pong/settings.py
  backend/pong/users/constants.py
  backend/pong/users/serializers.py
  backend/pong/users/tests/unit/test_users_serializer.py
Labels: backend

#421 :zap: Match系DBの作成・更新をする非同期関数の単体テストを作成
  backend/pong/ws/match/async_db_service.py
  backend/pong/ws/match/tests/pytest_async_db_service.py
Labels: backend

#437 🌱 : マッチ進行クラスを作成
  backend/pong/ws/login/handler.py
  backend/pong/ws/match/match_manager.py
  backend/pong/ws/share/channel_handler.py
  backend/pong/ws/share/player_data.py
Labels: backend

#446 トーナメント進行クラスとそのレジストリークラスの流れを修正＆一部実装
  backend/pong/ws/share/constants.py
  backend/pong/ws/tournament/manager.py
  backend/pong/ws/tournament/manager_registry.py
Labels: backend

#450 :zap: オンラインステータスのためのログインハンドラー実装
  backend/pong/ws/consumers.py
  backend/pong/ws/login/constants.py
  backend/pong/ws/login/handler.py
  backend/pong/ws/share/async_redis_client.py
  backend/pong/ws/share/constants.py
Labels: backend

#326 :zap: (BE:jwt) `/api/refresh/token` post作成
  backend/pong/jwt/create_access_and_refresh_token.py
  backend/pong/jwt/create_token_functions.py
  backend/pong/jwt/tests/integrations/test_refresh.py
  backend/pong/jwt/tests/unit/test_create_token_functions.py
  backend/pong/jwt/views/refresh.py
  backend/pong/jwt/views/token.py
  backend/pong/pong/settings.py
Labels: backend

#447 🐛 [users] pagination に渡すクエリセットをソートするように
  backend/pong/pong/custom_pagination/custom_pagination.py
  backend/pong/users/blocks/views.py
  backend/pong/users/friends/views.py
  backend/pong/users/views/list.py
Labels: backend

#453 ⚡ [users] /users/me/, PATCH 時に application/json で display_name がない場合にエラーにする
  backend/pong/users/serializers.py
  backend/pong/users/tests/integration/test_me.py
Labels: backend

#457 :zap: WSS対応
  frontend/nginx.conf
  frontend/pong/js/constants/Endpoints.js
Labels: backend

#436 🌱 マイページ追加
  frontend/pong/js/api/users/patchAvatar.js
  frontend/pong/js/api/users/patchMyInfo.js
  frontend/pong/js/api/utils/createPatchMethodOption.js
  frontend/pong/js/api/utils/createPatchMethodOptionForAvatar.js
  frontend/pong/js/components/block/BlockListContainer.js
  frontend/pong/js/components/block/BlockListItem.js
  frontend/pong/js/components/block/UnblockUserButton.js
  frontend/pong/js/components/index.js
  frontend/pong/js/components/user/MyInfoAvatar.js
  frontend/pong/js/components/user/MyInfoContainer.js
  frontend/pong/js/components/views/MyPageView.js
  frontend/pong/js/constants/PongEvents.js
  frontend/pong/js/utils/elements/div/createNameplate.js
  frontend/pong/js/utils/user/createAvatarImage.js
  frontend/pong/js/utils/user/formatUserInfo.js
Labels: frontend

#458 ⚡ NotFound の時にデフォルト文言の配置
  frontend/pong/js/components/views/NotFoundView.js
Labels: frontend

#459 ⚡ js からのリクエスト先のポートが env より決まるように拡張
  compose.yaml
  frontend/Dockerfile
  frontend/pong/js/constants/Endpoints.js
Labels: global, frontend

#461 📄 [.env.example] .env の example を提出用に微修正
  .env.example
  .github/workflows/backend_code_check.yml
  .github/workflows/backend_test.yml
  backend/pong/accounts/player/models.py
  backend/pong/accounts/player/serializers.py
  backend/pong/oauth2/views.py
  backend/pong/pong/settings.py
Labels: global, backend

#454 :zap: トーナメント進行クラスのラウンド進行部分を実装
  backend/pong/ws/match/match_manager.py
  backend/pong/ws/tournament/constants.py
  backend/pong/ws/tournament/manager.py
Labels: backend

#455 トーナメント進行中のDBアップデートTODOを消化
  backend/pong/ws/tournament/async_db_service.py
  backend/pong/ws/tournament/manager.py
Labels: backend

#456 トーナメントハンドラを実装
  backend/pong/ws/consumers.py
  backend/pong/ws/share/channel_handler.py
  backend/pong/ws/share/player_data.py
  backend/pong/ws/tournament/handler.py
  backend/pong/ws/tournament/manager.py
Labels: backend

#463 ⚡ (FE) ページネーション対応
  frontend/pong/js/api/participations/getParticipations.js
  frontend/pong/js/api/users/getBlocks.js
  frontend/pong/js/api/users/getFriends.js
  frontend/pong/js/api/users/getUsers.js
  frontend/pong/js/api/utils/fetchAuthenticatedAllData.js
Labels: frontend

#443 [FE] SignUp画面を追加する
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/components/auth/SignUpButton.js
  frontend/pong/js/components/auth/SignUpContainer.js
  frontend/pong/js/components/index.js
  frontend/pong/js/components/views/SignUpView.js
  frontend/pong/js/constants/AuthConstants.js
  frontend/pong/js/constants/Endpoints.js
  frontend/pong/js/constants/Paths.js
  frontend/pong/js/constants/message/ApiMessage.js
  frontend/pong/js/constants/message/FrontendMessage.js
  frontend/pong/js/enums/MessageEnums.js
  frontend/pong/js/routers/appRouter.js
Labels: frontend

#466 新しいMatchHandlerでローカルマッチができるように実装
  backend/pong/ws/consumers.py
  backend/pong/ws/match/constants.py
  backend/pong/ws/match/handler.py
  backend/pong/ws/match/manager_registry.py
  backend/pong/ws/match/match_manager.py
Labels: backend

#471 Feature global fix settings for school
  .env.example
  backend/Dockerfile
  backend/pong/pong/settings.py
  backend/pong/ws/share/async_redis_client.py
  frontend/nginx.conf
Labels: global

#479 ⚡ [test] mock player, mock game 作成用のコマンド追加
  backend/pong/Makefile
  backend/pong/matches/admin.py
  backend/pong/pong/management/__init__.py
  backend/pong/pong/management/commands/__init__.py
  backend/pong/pong/management/commands/create_mock_players.py
  backend/pong/pong/management/commands/create_mock_tournament.py
  backend/pong/pong/settings.py
Labels: backend

#480 🔥 [redis] 公開する必要がなかったので compose.yaml から ports 削除
  .env.example
  .github/workflows/backend_code_check.yml
  .github/workflows/backend_test.yml
  backend/pong/pong/settings.py
  compose.yaml
Labels: backend

#482 🐛 [users] user一覧取得の際の、match_wins, match_losses のキャッシュ方法を修正
  backend/pong/users/serializers.py
Labels: backend

#483 ⚡ [setting] docker 関連をきれいに削除するルール追加
  Makefile
Labels: global

#485 ⚡ ♻️ [test] mock 作成 Command のエラー処理追加
  backend/pong/pong/management/commands/create_mock_players.py
  backend/pong/pong/management/commands/create_mock_tournament.py
Labels: backend

#486 ⚡ [https] 静的ファイル共有
  backend/.gitignore
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
  backend/tools/entrypoint.sh
  compose.yaml
  frontend/nginx.conf
Labels: global, backend

#491 (PR #465 の reopen) ⚡ トークン管理
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/session/UserSession.js
Labels: frontend

#493 🐛 [mock] mock tornament の team 番号修正
  backend/pong/pong/management/commands/create_mock_tournament.py
Labels: backend

#495 🐛 ⚡ (FE) websocket, ゲスト、表示などの 改善、issue 対応
  frontend/pong/css/style.css
  frontend/pong/index.html
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/components/auth/SignInButton.js
  frontend/pong/js/components/auth/SignUpButton.js
  frontend/pong/js/components/auth/SignUpContainer.js
  frontend/pong/js/components/block/BlockListItem.js
  frontend/pong/js/components/game/GameStartPanel.js
  frontend/pong/js/components/match/PlayerProfile.js
  frontend/pong/js/components/navigation/MainNavbar.js
  frontend/pong/js/components/tournament/ParticipationProfile.js
  frontend/pong/js/components/user/UserListItem.js
  frontend/pong/js/components/user/UserProfile.js
  frontend/pong/js/components/user/UserProfileHeader.js
  frontend/pong/js/components/views/LoginView.js
  frontend/pong/js/components/views/SignUpView.js
  frontend/pong/js/main.js
  frontend/pong/js/mocks/utils/websocket/loginPayloadHandler.js
  frontend/pong/js/session/UserSession.js
  frontend/pong/js/utils/elements/anchor/createBrandAnchor.js
  frontend/pong/js/utils/elements/nav/createGuestNavbar.js
  frontend/pong/js/websocket/WebSocketWrapper.js
Labels: frontend

#498 ⚡ [test] mock tornament のゴール時のボール位置修正
  backend/pong/pong/management/commands/create_mock_tournament.py
Labels: backend

#499 🌱 (FE) OAuth 2.0 入口と出口を対応
  frontend/pong/js/api/utils/startOauth.js
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/components/auth/OauthButton.js
  frontend/pong/js/components/auth/SignInButton.js
  frontend/pong/js/components/auth/SignUpButton.js
  frontend/pong/js/components/auth/SignUpContainer.js
  frontend/pong/js/components/index.js
  frontend/pong/js/components/user/UserProfileHeader.js
  frontend/pong/js/constants/Endpoints.js
  frontend/pong/js/constants/Paths.js
  frontend/pong/js/main.js
  frontend/pong/js/session/UserSession.js
  frontend/pong/js/utils/handleAuthPath.js
Labels: frontend

#503 ⚡ [game] ロジック部分を少しだけアプデ
  .env.example
  backend/pong/ws/match/pong_logic.py
Labels: backend

#504 🌱 グループチャットの機能追加
  backend/pong/ws/chat/constants.py
  backend/pong/ws/chat/handler.py
  backend/pong/ws/consumers.py
  backend/pong/ws/share/constants.py
  backend/pong/ws/tournament/manager.py
  backend/pong/ws/tournament/manager_registry.py
Labels: backend

#507 :zap: トーナメントの退出時の処理や、その他の細かいバグを修正
  backend/pong/ws/consumers.py
  backend/pong/ws/match/handler.py
  backend/pong/ws/match/match_manager.py
  backend/pong/ws/tournament/handler.py
  backend/pong/ws/tournament/manager.py
  backend/pong/ws/tournament/manager_registry.py
Labels: backend

#509 :bug: トーナメント進行タスクキャンセル時に発生してしまっていたエラー を修正
  backend/pong/ws/tournament/manager_registry.py
Labels: bug, backend

#518 🌱 ライセンス追加
  LICENSE
Labels: global, documentation

#519 🔥 [openapi.yaml] 使ってないdescriptionを削除
  openapi.yml
Labels: backend

#530 🐛 [tournament] 未初期化の変数修正
  backend/pong/ws/tournament/handler.py
Labels: backend

#521 🐛 [schema] extend_schema の type のミス修正
  backend/pong/accounts/views.py
  backend/pong/jwt/views/refresh.py
  backend/pong/jwt/views/token.py
  backend/pong/login/views/login.py
  backend/pong/login/views/totp.py
  backend/pong/matches/views.py
  backend/pong/tournaments/participation/views.py
  backend/pong/tournaments/tournament/views.py
  backend/pong/users/blocks/views.py
  backend/pong/users/friends/views.py
  backend/pong/users/views/list.py
  backend/pong/users/views/me.py
  backend/pong/users/views/retrieve.py
Labels: backend

#523 🌱 [schema] schema定義から openapi.yaml を自動生成して github pages で公開
  docs/index.html
  docs/openapi.yaml
Labels: backend

#528 🐛 [avatar,test] sample.pngが削除されてしまう問題修正
  backend/pong/accounts/create_account/test_create_account.py
  backend/pong/accounts/player/tests/test_player_model.py
  backend/pong/accounts/player/tests/test_player_serializer.py
  backend/pong/accounts/tests/test_accounts.py
  backend/pong/matches/participation/tests/test_models.py
  backend/pong/matches/score/tests/test_models.py
  backend/pong/oauth2/tests/unit/test_create_oauth2_account.py
  backend/pong/tournaments/participation/tests/test_command_serializers.py
  backend/pong/tournaments/tournament/tests/test_command_serializers.py
  backend/pong/users/blocks/serializers/tests/test_create_serializers.py
  backend/pong/users/blocks/serializers/tests/test_destroy_serializers.py
  backend/pong/users/blocks/serializers/tests/test_list_serializers.py
  backend/pong/users/blocks/tests/integration/test_create_views.py
  backend/pong/users/blocks/tests/integration/test_destroy_views.py
  backend/pong/users/blocks/tests/integration/test_list_views.py
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
  backend/pong/users/friends/serializers/tests/test_destroy_serializer.py
  backend/pong/users/friends/serializers/tests/test_list_serializers.py
  backend/pong/users/friends/tests/integration/test_create_views.py
  backend/pong/users/friends/tests/integration/test_destroy_views.py
  backend/pong/users/friends/tests/integration/test_list_views.py
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/tests/integration/test_me.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/tests/unit/test_users_serializer.py
  backend/pong/users/tests/unit/test_users_serializers_related_matches.py
  backend/pong/ws/match/tests/pytest_async_db_service.py
Labels: backend

#531 2faのバグ修正
  backend/pong/jwt/serializers.py
  backend/pong/jwt/views/refresh.py
  backend/pong/jwt/views/token.py
  backend/pong/login/migrations/0001_initial.py
  backend/pong/login/migrations/0002_rename_is_two_factor_auth_twofactorauth_is_done_2fa.py
  backend/pong/login/migrations/0003_remove_twofactorauth_qr_code_path.py
  backend/pong/login/serializers.py
  backend/pong/login/views/login.py
  backend/pong/login/views/totp.py
  backend/pong/media/qrs/sample.png
Labels: backend
