Repository 42-pong/42-pong, pull requests merged in 2025-01, with the labels that each got.

#155 ⚡ ♻️ [compose.yaml] adminer コンテナ追加・FE healthcheck 調整
  .env.example
  adminer/Dockerfile
  compose.yaml
Labels: global, backend

#160 ♻️ [accounts, jwt, swagger, healthcheck] BE で決めた import のルールを適応
  backend/pong/accounts/admin.py
  backend/pong/accounts/constants.py
  backend/pong/accounts/models.py
  backend/pong/accounts/serializers.py
  backend/pong/accounts/tests/integration/test_accounts.py
  backend/pong/accounts/tests/serializers/test_player_serializer.py
  backend/pong/accounts/tests/serializers/test_user_serializer.py
  backend/pong/accounts/views.py
  backend/pong/jwt_token/urls.py
  backend/pong/pong/health_check/tests.py
  backend/pong/pong/health_check/views.py
  backend/pong/swagger_ui/urls.py
Labels: backend

#166 Django の CORS の設定追加
  backend/pong/pong/settings.py
  backend/tools/requirements.in
  backend/tools/requirements.txt
Labels: backend

#156 [OAuth2.0]　Oauth2.0と42トークンのテーブル作成
  backend/pong/oauth2/admin.py
  backend/pong/oauth2/apps.py
  backend/pong/oauth2/migrations/0001_initial.py
  backend/pong/oauth2/migrations/__init__.py
  backend/pong/oauth2/models.py
  backend/pong/oauth2/serializers.py
  backend/pong/oauth2/tests.py
  backend/pong/oauth2/views.py
Labels: backend

#161 ⚡ [accounts] 複数 app から新規アカウント作成できるように関数として独立させる
  backend/pong/accounts/create_account.py
  backend/pong/accounts/models.py
  backend/pong/accounts/serializers.py
  backend/pong/accounts/tests/create_account/__init__.py
  backend/pong/accounts/tests/create_account/test_create_account.py
  backend/pong/accounts/tests/integration/test_accounts.py
  backend/pong/accounts/tests/serializers/test_player_serializer.py
  backend/pong/accounts/views.py
Labels: backend

#178 [accounts] usernameをランダム文字列で自動生成する関数のラッパー作成
  backend/pong/accounts/create_account.py
  backend/pong/accounts/tests/create_account/test_create_account.py
Labels: backend

#183 ⚡ ♻️ [accounts] accounts app内のusernameをランダム生成関数に置き換え & リファクタ
  backend/pong/accounts/serializers.py
  backend/pong/accounts/tests/integration/test_accounts.py
  backend/pong/accounts/tests/serializers/test_user_serializer.py
  backend/pong/accounts/views.py
Labels: backend

#185 ログイン画面のフォームとボタンを作成した
  frontend/pong/css/style.css
  frontend/pong/index.html
  frontend/pong/js/components/index.js
  frontend/pong/js/components/views/LoginView.js
  frontend/pong/js/routers/homeRouter.js
  frontend/pong/package-lock.json
Labels: frontend

#173 :zap: (BE:oauth2) OAuth2.0のSerializerの単体テスト作成
  backend/pong/oauth2/migrations/0001_initial.py
  backend/pong/oauth2/models.py
  backend/pong/oauth2/serializers.py
  backend/pong/oauth2/tests.py
  backend/pong/oauth2/tests/__init__.py
  backend/pong/oauth2/tests/unit/__init__.py
  backend/pong/oauth2/tests/unit/test_serializers.py
Labels: backend

#176 ⚡ ♻️ Websocket/Matchのルール変更に即して変更・リファクタリング
  backend/pong/match/consumers.py
  backend/pong/match/match_enums.py
  backend/pong/match/match_handler.py
  backend/pong/match/ws_constants.py
Labels: backend

#191 ⚡ [accounts] create_account() の引数 user_serializer の Meta.model が User であることを確認する
  backend/pong/accounts/create_account.py
Labels: backend

#200 ♻️ [BE, workflow] backend_code_check.yml が不要な時に、job 自体実行されないように統一する
  .github/workflows/backend_code_check.yml
Labels: workflow, backend

#197 :zap: (BE:Makefile) 特定のアプリケーションをテストするコマンドを作成
  backend/pong/Makefile
Labels: backend

#165 🌱 (FE) ローカルマッチのモック作成
  frontend/pong/js/Endpoints.js
  frontend/pong/js/components/views/HomeView.js
  frontend/pong/js/constants/MatchConstants.js
  frontend/pong/js/endpoints.js
  frontend/pong/js/enums/MatchEnums.js
  frontend/pong/js/enums/WebSocketEnums.js
  frontend/pong/js/mocks/handlers/health.js
  frontend/pong/js/mocks/handlers/index.js
  frontend/pong/js/mocks/handlers/webSocket.js
  frontend/pong/js/mocks/utils/websocket/matchPayloadHandler.js
  frontend/pong/js/mocks/utils/websocket/sendPayloads.js
  frontend/pong/js/utils/incrementWithBounds.js
  frontend/pong/js/utils/incrementWithWrap.js
  frontend/pong/js/utils/isPreservingDirectionWithBounds.js
  frontend/pong/js/utils/sum.js
  frontend/pong/tests/incrementWithBounds.test.js
  frontend/pong/tests/incrementWithWrap.test.js
  frontend/pong/tests/isPreservingDirectionWithBounds.test.js
  frontend/pong/tests/sum.test.js
Labels: frontend

#172 🌱 (FE) グローバル WebSocket を導入
  frontend/pong/js/Endpoints.js
  frontend/pong/js/components/views/HomeView.js
  frontend/pong/js/main.js
  frontend/pong/js/websocket/WebSocketWrapper.js
  frontend/pong/js/websocket/index.js
Labels: frontend

#177 ⚡ (websocket/match)メッセージのバリデーション
  backend/pong/match/consumers.py
  backend/pong/match/match_handler.py
  backend/pong/match/serializers/match_serializer.py
  backend/pong/match/serializers/ws_serializer.py
  backend/pong/match/tests.py
  backend/pong/match/tests/__init__.py
  backend/pong/match/tests/unit/__init__.py
  backend/pong/match/tests/unit/serializers/__init__.py
  backend/pong/match/tests/unit/serializers/test_match_serializer.py
  backend/pong/match/tests/unit/serializers/test_ws_serializer.py
  backend/tools/requirements.in
  backend/tools/requirements.txt
Labels: backend

#205 ⚡ [account] create_account() が serializer.data を返すように変更
  backend/pong/accounts/create_account.py
  backend/pong/accounts/tests/create_account/test_create_account.py
  backend/pong/accounts/views.py
Labels: backend

#204 ⚡ BE の全 app 共通で使うレスポンス形式を定義する
  backend/pong/accounts/tests/integration/test_accounts.py
  backend/pong/accounts/views.py
  backend/pong/pong/custom_response/__init__.py
  backend/pong/pong/custom_response/custom_response.py
  backend/pong/pong/custom_response/test_custom_response.py
Labels: backend

#210 ⚡ [account] ディレクトリ構成変更, PlayerModelテスト追加
  backend/pong/accounts/admin.py
  backend/pong/accounts/create_account/__init__.py
  backend/pong/accounts/create_account/create_account.py
  backend/pong/accounts/create_account/test_create_account.py
  backend/pong/accounts/player/__init__.py
  backend/pong/accounts/player/models.py
  backend/pong/accounts/player/serializers.py
  backend/pong/accounts/player/tests/__init__.py
  backend/pong/accounts/player/tests/test_player_model.py
  backend/pong/accounts/player/tests/test_player_serializer.py
  backend/pong/accounts/tests/test_accounts.py
  backend/pong/accounts/user/__init__.py
  backend/pong/accounts/user/serializers.py
  backend/pong/accounts/user/tests/__init__.py
  backend/pong/accounts/user/tests/test_user_serializer.py
  backend/pong/accounts/views.py
Labels: backend

#202 :zap: (BE:jwt) JWTの基盤とBase64Urlクラスにdecode関数とencode関数作成
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
  backend/pong/tmp_jwt/__init__.py
  backend/pong/tmp_jwt/base64_url.py
  backend/pong/tmp_jwt/jws.py
  backend/pong/tmp_jwt/jwt.py
  backend/pong/tmp_jwt/tests/__init__.py
  backend/pong/tmp_jwt/tests/unit/__init__.py
  backend/pong/tmp_jwt/tests/unit/test_base64_url.py
  backend/pong/tmp_jwt/tests/unit/test_jws.py
  backend/pong/tmp_jwt/tests/unit/test_jwt.py
  backend/pong/tmp_jwt/urls.py
Labels: backend

#193 ⚡(FE) 画面構成のベースを作成
  frontend/pong/js/components/index.js
  frontend/pong/js/components/navs/MainNav.js
  frontend/pong/js/components/views/ChatView.js
  frontend/pong/js/components/views/HomeView.js
  frontend/pong/js/components/views/MainView.js
  frontend/pong/js/constants/Endpoints.js
  frontend/pong/js/constants/Paths.js
  frontend/pong/js/constants/PongEvents.js
  frontend/pong/js/main.js
  frontend/pong/js/mocks/handlers/health.js
  frontend/pong/js/mocks/handlers/webSocket.js
  frontend/pong/js/routers/appRouter.js
  frontend/pong/js/routers/homeRouter.js
  frontend/pong/js/routers/mainRouter.js
  frontend/pong/js/websocket/index.js
Labels: frontend

#207 ⚡ ログインページを配置
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/components/index.js
  frontend/pong/js/components/views/LoginView.js
  frontend/pong/js/constants/Paths.js
  frontend/pong/js/routers/appRouter.js
Labels: frontend

#208 ⚡ マッチしないパスのハンドリング
  frontend/pong/js/components/index.js
  frontend/pong/js/components/views/MainView.js
  frontend/pong/js/components/views/NotFoundView.js
  frontend/pong/js/core/Route.js
  frontend/pong/js/core/Router.js
  frontend/pong/js/routers/appRouter.js
  frontend/pong/js/routers/mainRouter.js
Labels: frontend

#187 :zap: 42認証の情報と紐づいたアカウントを作成
  backend/pong/oauth2/create_oauth2_account.py
  backend/pong/oauth2/models.py
  backend/pong/oauth2/providers/__init__.py
  backend/pong/oauth2/providers/forty_two_authorization.py
  backend/pong/oauth2/serializers.py
  backend/pong/oauth2/tests/unit/test_create_oauth2_account.py
  backend/pong/oauth2/tests/unit/test_provider_authorization.py
  backend/pong/oauth2/tests/unit/test_serializers.py
  backend/pong/oauth2/views.py
Labels: wip, backend

#212 :zap: (BE:jwt) JWTを署名と検証を行う関数作成
  .env.example
  .github/workflows/backend_code_check.yml
  .github/workflows/backend_unit_test.yml
  backend/pong/pong/settings.py
  backend/pong/tmp_jwt/jws.py
  backend/pong/tmp_jwt/jwt.py
  backend/pong/tmp_jwt/tests/unit/test_base64_url.py
  backend/pong/tmp_jwt/tests/unit/test_jws.py
Labels: backend

#215 ⚡ トーナメントの設計
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
  backend/pong/tournaments/__init__.py
  backend/pong/tournaments/admin.py
  backend/pong/tournaments/apps.py
  backend/pong/tournaments/constants.py
  backend/pong/tournaments/migrations/0001_initial.py
  backend/pong/tournaments/migrations/__init__.py
  backend/pong/tournaments/tournament/__init__.py
  backend/pong/tournaments/tournament/models.py
  backend/pong/tournaments/tournament/serializers.py
  backend/pong/tournaments/tournament/views.py
  backend/pong/tournaments/urls.py
Labels: backend

#218 ⚡ [accounts] アカウント作成時の User,Player の DB 保存時にトランザクション処理を追加
  backend/pong/accounts/create_account/create_account.py
  backend/pong/accounts/create_account/test_create_account.py
Labels: backend

#221 ⚡ [account/player] display_name フィールドを Player テーブルに追加
  backend/pong/accounts/admin.py
  backend/pong/accounts/constants.py
  backend/pong/accounts/migrations/0001_initial.py
  backend/pong/accounts/player/models.py
  backend/pong/accounts/player/serializers.py
  backend/pong/accounts/player/tests/test_player_model.py
  backend/pong/accounts/player/tests/test_player_serializer.py
Labels: backend

#223 ♻️ Websocket関係のapp名を変更し、ディレクトリ構成も変更＆エンドポイント変更
  backend/pong/match/admin.py
  backend/pong/match/models.py
  backend/pong/match/routing.py
  backend/pong/match/views.py
  backend/pong/pong/asgi.py
  backend/pong/pong/settings.py
  backend/pong/ws/__init__.py
  backend/pong/ws/apps.py
  backend/pong/ws/consumers.py
  backend/pong/ws/match/__init__.py
  backend/pong/ws/match/constants.py
  backend/pong/ws/match/handler.py
  backend/pong/ws/match/serializers.py
  backend/pong/ws/match/tests/__init__.py
  backend/pong/ws/match/tests/test_match_serializer.py
  backend/pong/ws/routing.py
  backend/pong/ws/share/__init__.py
  backend/pong/ws/share/constants.py
  backend/pong/ws/share/serializers.py
  backend/pong/ws/share/tests/__init__.py
  backend/pong/ws/share/tests/test_ws_serializer.py
  backend/pong/ws/tests/__init__.py
Labels: backend

#209 ⚡ 構築予定の View を形式的に追加
  frontend/pong/js/components/index.js
  frontend/pong/js/components/navs/MainNav.js
  frontend/pong/js/components/views/FriendsView.js
  frontend/pong/js/components/views/MainView.js
  frontend/pong/js/components/views/MyPageView.js
  frontend/pong/js/components/views/TournamentsView.js
  frontend/pong/js/components/views/UsersView.js
  frontend/pong/js/constants/Paths.js
  frontend/pong/js/routers/appRouter.js
  frontend/pong/js/routers/mainRouter.js
Labels: frontend

#227 [users] `/api/users/`, `GET` 実装 (ユーザープロフィール一覧取得)
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
  backend/pong/users/__init__.py
  backend/pong/users/admin.py
  backend/pong/users/apps.py
  backend/pong/users/migrations/__init__.py
  backend/pong/users/models.py
  backend/pong/users/serializers.py
  backend/pong/users/tests.py
  backend/pong/users/urls.py
  backend/pong/users/views.py
Labels: backend

#232 🌱 Bootstrap を導入し、ナビゲーションバーに適用
  frontend/pong/index.html
  frontend/pong/js/bootstrap/components/navbar.js
  frontend/pong/js/bootstrap/components/navsTabs.js
  frontend/pong/js/bootstrap/layout/containers.js
  frontend/pong/js/components/index.js
  frontend/pong/js/components/navigation/MainNavbar.js
  frontend/pong/js/components/navs/MainNav.js
  frontend/pong/js/components/views/MainView.js
  frontend/pong/js/utils/elements/anchor/createBrandAnchor.js
  frontend/pong/js/utils/elements/createElement.js
  frontend/pong/js/utils/elements/nav/createDefaultNavbar.js
  frontend/pong/js/utils/elements/nav/createNavbarNavList.js
  frontend/pong/js/utils/elements/setClassNames.js
Labels: frontend
